<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Theme</ion-label>
    <ion-select [(ngModel)]="theme">
      <ion-select-option *ngFor="let option of themeList" [value]="option.value">{{ option.label }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Mode</ion-label>
    <ion-select [(ngModel)]="mode">
      <ion-select-option *ngFor="let option of modesList" [value]="option.value">{{ option.label }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Time Mode</ion-label>
    <ion-select [(ngModel)]="timeMode">
      <ion-select-option [value]="false">12 h</ion-select-option>
      <ion-select-option [value]="true">24 h</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" *ngIf="isIos">
    <ion-label>Merged Date and Time</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="mergedDateAndTime"></ion-checkbox>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Min</ion-label>
    <ion-input [(ngModel)]="min" (ionFocus)="minFocus()" readonly></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Max</ion-label>
    <ion-input [(ngModel)]="max" (ionFocus)="maxFocus()" readonly></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Locale</ion-label>
    <ion-input [(ngModel)]="locale"></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Done Button</ion-label>
    <ion-input [(ngModel)]="doneText"></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Cancel Button</ion-label>
    <ion-input [(ngModel)]="cancelText"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="openPicker()">Open Picker</ion-button>
</ion-content>
